[submodule "first_party/logger"]
	path = first_party/logger
	url = https://github.com/neapu/logger.git
[submodule "third_party/proxy"]
	path = third_party/proxy
	url = https://github.com/microsoft/proxy.git
